*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}

.container{
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    

}

.quadrato{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    align-items: center;
    background-color: white;
}

main{
    height: calc(100vh - 160px);
}

footer{
    height: 80px;
    display: flex;
    align-items: center;
}
